extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1 About
  .row
    .col-md-6.col-sm-12
      p 
      | Cars Make & Model is for building a sample MEAN-stack app that allows you to pick a car maker from a drop-down select list and then it populates a second drop-down select list with that makers model of cars. Once you choose a car, then the information page about that car will show. 
      | <br /><br />
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Haec et tu ita posuisti, et verba vestra sunt. Duo Reges: constructio interrete. Sed quamquam negant nec virtutes nec vitia crescere, tamen utrumque eorum fundi quodam modo et quasi dilatari putant. Ex eorum enim scriptis et institutis cum omnis doctrina liberalis, omnis historia. Antiquorum autem sententiam Antiochus noster mihi videtur persequi diligentissime, quam eandem Aristoteli fuisse et Polemonis docet. Itaque illa non dico me expetere, sed legere, nec optare, sed sumere, contraria autem non fugere, sed quasi secernere.
      | <br /><br />
      | Nec tamen ullo modo summum pecudis bonum et hominis idem mihi videri potest. Egone non intellego, quid sit don Graece, Latine voluptas? Quae fere omnia appellantur uno ingenii nomine, easque virtutes qui habent, ingeniosi vocantur. Me igitur ipsum ames oportet, non mea, si veri amici futuri sumus. Quid tibi, Torquate, quid huic Triario litterae, quid historiae cognitioque rerum, quid poetarum evolutio, quid tanta tot versuum memoria voluptatis affert? Videmus igitur ut conquiescere ne infantes quidem possint.
      | <br /><br />