doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title	
    link(rel='stylesheet', href='/bootstrap/css/cars.bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
           a.navbar-brand(href='/') Car Make & Model

          button.navbar-toggle(type='button', data-toggle='collapse', datatarget='#navbar-main')
            span.icon-bar
            span.icon-bar
            span.icon-bar

     .container
        block content

    script(src='/js/jquery-3.1.1.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/js/custom.js')

