extends layout


block content
  .row.page-header: .col-lg-12
      h1 Ford Escape
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          .panel.panel-primary
            .panel-heading
              h2.panel-title Check out the Ford Escape
            .panel-body
              img.img-responsive.img-rounded(src="http://buyersguide.caranddriver.com/media/assets/submodel/7018.jpg") 
            .panel-footer Hover to see larger image

        .col-xs-12.col-sm-6
          p.mpg Up to 23 city / 30 highway MPG
          p.engine 179-hp turbo four or 245-hp turbo four
          p.drive Front-wheel drive(standard), All-wheel drive(optional)
          p.rating
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star-empty          

          .panel.panel-primary
            .panel-heading
              h2.panel-title Car and Driver Review
            .panel-body
                p With athletic looks and a quiet, stylish interior, the Escape distinguishes itself in a crowd of small crossovers. The base engine is a 168-hp four-cylinder, but we recommend the 179-hp turbo four or the 245-hp turbo four. All have front-wheel drive; all-wheel drive is optional on turbos. Handling is precise and predictable, but the steering feels rubbery. Ford’s Sync 3 is controlled by an 8.0-inch touchscreen with voice recognition. A properly equipped Escape can tow 3500 pounds.
                p

      .row
        .col-xs-12
          .panel.panel-primary.review-panel
            .panel-heading
               p sidebar.callToAction Test Drive One Today!            